In [1]:
import sys
!{sys.executable} -m pip install galeshapley --upgrade

from galeshapley import algorithm

multi_influenciador_comerciante_pref = {
    'Gildárcio': ['Cunha SA', 'Vieira SA', 'Lineu SA', 'Loubach SA'],
    'Shigemura': ['Vieira SA', 'Lineu SA', 'Loubach SA', 'Cunha SA'],
    'Henrique': ['Lineu SA', 'Loubach SA', 'Cunha SA', 'Vieira SA'],
    'Jean': ['Lineu SA', 'Vieira SA', 'Loubach SA', 'Cunha SA'],
    'Vinicius': ['Lineu SA', 'Vieira SA', 'Cunha SA', 'Loubach SA'],
    'Bresley': ['Vieira SA', 'Cunha SA', 'Lineu SA', 'Loubach SA'],
    'Marcos': ['Cunha SA', 'Vieira SA', 'Lineu SA', 'Loubach SA'],
    'Alfredo': ['Lineu SA', 'Cunha SA', 'Vieira SA', 'Loubach SA']
}
multi_comerciante_influenciador_pref = {
    'Cunha SA': ['Shigemura', 'Henrique', 'Jean', 'Gildárcio', 'Alfredo', 'Marcos', 'Vinicius', 'Bresley'],
    'Vieira SA': ['Vinicius', 'Marcos', 'Bresley', 'Henrique', 'Gildárcio', 'Shigemura', 'Jean', 'Alfredo'],
    'Lineu SA': ['Shigemura', 'Jean', 'Gildárcio', 'Henrique', 'Vinicius', 'Alfredo', 'Bresley', 'Marcos'],
    'Loubach SA': ['Bresley', 'Marcos', 'Alfredo', 'Vinicius', 'Jean', 'Gildárcio', 'Shigemura', 'Henrique']
}
comerciante_restricao = {
    'Cunha SA': 3,
    'Vieira SA': 2,
    'Lineu SA': 1,
    'Loubach SA': 1
}

influenciadores_para_comerciantes = algorithm.multipleMatch(
    A_pref = multi_influenciador_comerciante_pref,
    B_pref = multi_comerciante_influenciador_pref,
    B_restricoes = comerciante_restricao
)

print('\n\nMelhores influenciadores para cada comerciante:')
display(influenciadores_para_comerciantes)

Requirement already satisfied: galeshapley in /Users/marcos/.pyenv/versions/3.8.2/lib/python3.8/site-packages (0.0.6)


Melhores influenciadores para cada comerciante:

[('Cunha SA', 'Gildárcio'),
 ('Lineu SA', 'Shigemura'),
 ('Cunha SA', 'Henrique'),
 ('Cunha SA', 'Jean'),
 ('Vieira SA', 'Vinicius'),
 ('Loubach SA', 'Bresley'),
 ('Vieira SA', 'Marcos'),
 (None, 'Alfredo')]

In [2]:
import pandas as pd

pd_influenciadores = pd.read_csv('./data/influenciadores.csv')
pd_produtos = pd.read_csv('./data/produtos.csv')
pd_comerciantes = pd.read_csv('./data/comerciantes.csv')

escolhas = map(str, range(4))

influenciadores = pd_influenciadores.copy()
display(influenciadores)
influenciadores = pd_influenciadores.dropna(subset = escolhas, how = 'all').reset_index(drop = True)
display(influenciadores)

produtos = pd_produtos.dropna()
produtos = produtos[produtos['quota'] > 0]

comerciantes = pd_comerciantes.dropna()
comerciantes = comerciantes[comerciantes['quota'] > 0]

          nome  rank     0     1     2     3
0  'Gildárcio'     8  'A0'  'B2'  'C0'  'D0'
1  'Shigemura'     7  'B0'  'C2'  'D0'  'A1'
2   'Henrique'     6  'C1'  'D0'   NaN   NaN
3       'Jean'     5  'C0'  'B2'  'D0'   NaN
4   'Vinicius'     4  'C2'  'B0'  'A1'  'D0'
5    'Bresley'     3  'B1'  'A2'  'C1'   NaN
6     'Marcos'     2   NaN   NaN   NaN   NaN
7    'Alfredo'     1  'C2'  'A1'  'B0'  'D0'

          nome  rank     0     1     2     3
0  'Gildárcio'     8  'A0'  'B2'  'C0'  'D0'
1  'Shigemura'     7  'B0'  'C2'  'D0'  'A1'
2   'Henrique'     6  'C1'  'D0'   NaN   NaN
3       'Jean'     5  'C0'  'B2'  'D0'   NaN
4   'Vinicius'     4  'C2'  'B0'  'A1'  'D0'
5    'Bresley'     3  'B1'  'A2'  'C1'   NaN
6    'Alfredo'     1  'C2'  'A1'  'B0'  'D0'

> Fim