In [1]:
import pandas as pd
import numpy as np
from collections import Counter
from copy import copy

# Definir as listas e suas preferências

In [2]:
comerciantes_list = ['Cunha SA', 'Vieira SA', 'Lineu SA', 'Loubach SA']
influenciadores_list = ['Gildárcio', 'Shigemura', 'Henrique', 'Jean']

## Lista dos melhores comerciantes para cada influenciador
### Como obter esta lista? Por indicações, histórico de iterações, etc.?

In [3]:
influenciadores_df = pd.DataFrame({'Gildárcio': [3,2,4,1], 'Shigemura': [3,1,4,2], 'Henrique':[2,3,4,1], 'Jean':[3,2,1,4]})
influenciadores_df.index = comerciantes_list

## Lista dos melhores influenciadores para cada comerciante
### Esta lista pode ser obtida pelo histórico de iterações do comerciante com os influenciadores!

In [4]:
comerciantes_df = pd.DataFrame({'Gildárcio': [1,3,3,4], 'Shigemura': [2,4,1,2], 'Henrique':[3,1,2,3], 'Jean':[4,2,4,1]})
comerciantes_df.index = comerciantes_list

In [5]:
influenciadores_df

            Gildárcio  Shigemura  Henrique  Jean
Cunha SA            3          3         2     3
Vieira SA           2          1         3     2
Lineu SA            4          4         4     1
Loubach SA          1          2         1     4

In [6]:
comerciantes_df

            Gildárcio  Shigemura  Henrique  Jean
Cunha SA            1          2         3     4
Vieira SA           3          4         1     2
Lineu SA            3          1         2     4
Loubach SA          4          2         3     1

# Algoritmo de Gale-Shapley

In [7]:
# dicionário para controlar quais influenciadores cada comerciante recomenda
influenciadores_disponiveis = {comerciante:influenciadores_list for comerciante in comerciantes_list}
# lista de espera de comerciantes que podem parear a cada iteração
lista_espera = []
# dicionário para armazenar os pareamentos
recomendacoes = {}
# variável para contar o número de iterações
contador = 0

In [8]:
# enquanto os comerciantes não foram pareados
while len(lista_espera) < len(comerciantes_list):
    # comerciante faz recomendacoes
    for comerciante in comerciantes_list:
        if comerciante not in lista_espera:
            # cada comerciante faz recomendação para os influenciadores preferidos de sua lista
            influenciadores = influenciadores_disponiveis[comerciante]
            melhor_escolha = comerciantes_df.loc[comerciante][comerciantes_df.loc[comerciante].index.isin(influenciadores)].idxmin()
            recomendacoes[(comerciante, melhor_escolha)] = (comerciantes_df.loc[comerciante][melhor_escolha], 
                                                              influenciadores_df.loc[comerciante][melhor_escolha])
    # se cada influenciador possui mais de uma recomendacão
    # a recomendação será a melhor opção
    lista_opcoes = Counter([key[1] for key in recomendacoes.keys()])
    # ciclo para escolher as melhores opções
    for influenciadores in lista_opcoes.keys():
        if lista_opcoes[influenciadores] > 1:
            # pares para sairem da lista de recomendações
            pares_para_descarte = sorted({pair: recomendacoes[pair] for pair in recomendacoes.keys() 
                if influenciadores in pair}.items(), 
                    key = lambda x: x[1][1]
                )[1:]
            # se o comerciante foi rejeitado para a recomendacao
            # então não há razão para ele fazê-la
            # novamente para o mesmo influenciador
            for par_descarte in pares_para_descarte:
                del recomendacoes[par_descarte[0]]
                _influenciadores = copy(influenciadores_disponiveis[par_descarte[0][0]])
                _influenciadores.remove(par_descarte[0][1])
                influenciadores_disponiveis[par_descarte[0][0]] = _influenciadores
    # comerciante que foi pareado com sucesso deve ser adicionado à lista de espera
    lista_espera = [comerciante[0] for comerciante in recomendacoes.keys()]
    # atualiza o contador
    contador += 1

## Pares estáveis
_ver "Gale, David, and Lloyd S. Shapley. "College admissions and the stability of marriage." The American Mathematical Monthly 69.1 (1962): 9-15."_

In [9]:
recomendacoes

{('Cunha SA', 'Gildárcio'): (1, 3),
 ('Vieira SA', 'Henrique'): (1, 3),
 ('Lineu SA', 'Shigemura'): (1, 4),
 ('Loubach SA', 'Jean'): (1, 4)}

In [10]:
contador

1

> Fim